<section class="container mt-4 p-4">
    <h2 class="text-primary mt-3">Acerca de la Aplicación</h2>

    <p>
        Bienvenido a mi aplicación de dibujo interactivo, diseñada para ofrecer una experiencia creativa 
        y accesible desde cualquier dispositivo. Esta aplicación ha sido desarrollada con la intención 
        de que puedas expresar tus ideas visuales fácilmente, sin necesidad de herramientas complicadas.
    </p>

    <h4 class="text-primary mt-4">
        Funcionalidades principales
    </h4>

    <ul>
        <li>
            <p>
                <strong>Dibujo libre:&nbsp;</strong>
                Usa el lápiz para crear trazos únicos y personalizados.
            </p>
        </li>
        <li>
            <p>
                <strong>Formas geométricas:&nbsp;</strong>
                Dibuja figuras predefinidas como círculos, rectángulos, y mucho más.
            </p>
        </li>
        <li>
            <p>
                <strong>Relleno:&nbsp;</strong>
                Añade color a las formas dibujadas con un solo clic.
            </p>
        </li>
        <li>
            <p>
                <strong>Texto:&nbsp;</strong>
                Inserta y personaliza texto dentro del lienzo, eligiendo fuentes, tamaños y estilos.
            </p>
        </li>
        <li>
            <p>
                <strong>Borrador:&nbsp;</strong>
                Elimina partes no deseadas de tu dibujo de forma sencilla.
            </p>
            <p class="ms-3">
                <strong class="text-primary">Nota:&nbsp;</strong>
                Cuando se trabaja en la versión web desde una PC, se puede aumentar o decrementar 
                el tamaño del borrador usando las teclas + y - respectivamente.
            </p>
        </li>
        <li>
            <p>
                <strong>Estilos de trazo y texto::&nbsp;</strong>
                Personaliza el grosor y estilo de los trazos y el texto para crear 
                composiciones originales.
            </p>
        </li>
        <li>
            <p>
                <strong>Guardar tu trabajo:&nbsp;</strong>
                Guarda tus creaciones para continuar trabajando en ellas más adelante o 
                compartirlas con otros.
            </p>
            <p class="ms-3">
                <strong class="text-primary">Nota:&nbsp;</strong>
                Cuando se trabaja en la versión web desde una PC, se puede abrir la ventana para
                guardar el dibujo usando la combinación de teclas Ctrl + S. Para usar esta funcionalidad
                debes iniciar sesión.
            </p>
        </li>
    </ul>

    <h4 class="mt-4 text-primary">Tecnologías utilizadas</h4>

    <p>
        Esta aplicación ha sido desarrollada utilizando tecnologías modernas y robustas como Angular, 
        Bootstrap para una interfaz responsive y amigable, y Firebase para gestionar el registro, 
        autenticación y almacenamiento en la nube.
    </p>

    <h4 class="mt-4 text-primary">Sistema de registro y login</h4>

    <p>
        He integrado un sistema de autenticación para que puedas crear y almacenar tus dibujos de manera 
        segura. Simplemente crea una cuenta o inicia sesión para acceder a todas las funcionalidades 
        de la aplicación.
    </p>

    <h4 class="mt-4 text-primary">Propósito</h4>

    <p class="mb-5">
        Mi objetivo es brindar una herramienta intuitiva para usuarios de todas las edades y 
        niveles de experiencia, permitiendo que la creatividad fluya sin barreras. Ya sea que desees 
        dibujar por diversión o trabajar en un proyecto más serio, esta aplicación tiene las herramientas 
        que necesitas.
    </p>
</section>