<!-- menu de navegación -->
<nav class="navbar navbar-expand-md bg-menu" data-bs-theme="dark">
  <div class="container-fluid">
    <img src="../../../../assets/images/logo/LOGO1.jpg" width="120px" alt="logo" class="ms-4 navbar-brand rounded">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav flex-grow-1 pe-3">
        <!-- crear dibujo -->
        <li class="nav-item" *ngIf="estalogueado()">
          <a class="nav-link" routerLink="dibujar" routerLinkActive="active" ariaCurrentWhenActive="page">
              Crear dibujo
          </a>
        </li>
        <!-- lista de dibujos -->
        <li class="nav-item" *ngIf="estalogueado()">
          <a class="nav-link" routerLink="listadibujos" routerLinkActive="active" ariaCurrentWhenActive="page">
              Lista dibujos
          </a>
        </li>
        <!-- perfil de linkedIn -->
        <li class="nav-item me-4 ms-auto">
          <a class="nav-link" [href]="enlace_linkedIn" target="_blank">
            <i class="bi bi-linkedin h5"></i>
          </a>
        </li>
        <!-- link del proyecto en github -->
        <li class="nav-item me-5" *ngIf="estalogueado()">
          <a class="nav-link" [href]="enlace_github_proyecto" target="_blank">
            <i class="bi bi-github h5"></i>
          </a>
        </li>
        <!-- cuadro de inicio de sesion -->
        <li class="nav-item dropdown me-5" *ngIf="estalogueado()">
          <a class="dropdown-toggle text-white me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle h4"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end p-4" style="width: 400px;" data-bs-theme="light">
            <li class="h4 text-primary">
              Bienvenido <i class="bi bi-emoji-laughing"></i>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <strong class="ms-2">User: </strong><i class="text-primary">{{getUser()}}</i>
            </li>
            <br>
            <li>
              <button class="btn btn-outline-primary d-flex ms-auto me-4 mb-2" type="button" (click)="consultaAcciones('logout')">
                Cerrar Sesión
              </button>
            </li>
            <li>
              <button class="btn btn-outline-danger d-flex ms-auto me-4 mb-2" type="button" (click)="consultaAcciones('deleteAccount')">
                Eliminar Cuenta
              </button>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto me-5" *ngIf="!estalogueado()">
        <!-- login -->
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page">
              Iniciar Sesión
          </a>
        </li>
        <!-- registro -->
        <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page">
              Registrarse
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal Consulta al Usuario por una accion: Aceptar o Cancelar-->
<div class="modal fade" id="modal-acciones" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title fs-5 text-primary" id="staticBackdropLabel">{{modalAcciones.title}}</h5>
          <button type="button" class="btn-close" (click)="cerrarModalConsulta()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p style="font-size: 0.9rem;">{{modalAcciones.textoBodyModal}}</p>
      </div>
      <div class="modal-footer">
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-outline-primary" (click)="ok()">
              Aceptar
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="cerrarModalConsulta()">
                Cancelar
            </button>
          </div>
      </div>
    </div>
  </div>
</div>